# .envrc for local kiban

# to scan your user's altemista personal projects, configure the following var
# with your altemista username (usually @firstname.lastname)
# export SCAN_ALTEMISTA_USER=

# to scan your user's github personal repos, configure the following var
# with your github username
# export SCAN_GITHUB_USER=

# If you are using node version 20 or above, uncomment the following line
export NODE_OPTIONS=--no-node-snapshot

# For windows users with zscalar
# If you see FetchError messages in the console logs related to being unable to get local issuer certificate
# Then uncomment the following line to disable certificate checking
# NODE_TLS_REJECT_UNAUTHORIZED=0

# Using envchain with a helper in the central .envrc
# means never having to expose credentials in .envrc files
# uncomment the following line to load envchain variables from the BACKSTAGE namespace
# envchainload BACKSTAGE
