# Local filesystem management
.DS_Store
# local config files
.env
.envrc
*.local.yaml
# git directory
.git
# yarn and npm non-checkin files
.yarn/cache
.yarn/install-state.gz
node_modules
packages/*/node_modules
dist
dist-types
# sqlite persistent datastore
sqlite-db
